{% extends 'GMFAdminBundle::layout.html.twig' %}

{% block gmf_admin_body %}
	<div class="col-12" id="main-page">

		<h3 class="text-center "> Gestion des devis </h3> <br>

		<div>
	      {# On affiche tous les messages flash dont le nom est « info » #}
	      {% for message in app.session.flashbag.get('success') %}
	        <p class="alert alert-success"> {{ message }}</p>
	      {% endfor %}
	    </div>

		{% if list_devis|length %} 
			<table class="table bg-white">
				<thead> 
					<tr> 
						<th scope="col"> Numero du devis </th>
						<th scope="col"> Date de réalisation </th>
						<th scope="col"> </th>
					</tr>
				</thead>	
				<tbody>
					{% for devis in list_devis %}
						<tr>
							<td>{{devis.numero}} <a href="{{ path('gmf_admin_view_devis', {id: devis.id}) }}"> <i class="far fa-eye float-right"></i> </a></td>
							<td> {{devis.date|date('d-m-Y')}} </td>
							<td> <a href="{{ path('gmf_admin_delete_devis', {id: devis.id})}}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce devis?'));"> <i class="fas fa-trash-alt"></i> </a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3 class="text-center bg-white"> Vous n'avez aucun devis </h3>
		{% endif %}

	</div>

{% endblock %}

