{% extends 'GMFAdminBundle::layout.html.twig' %}

{% block gmf_admin_body %}
	<div class="col-12" id="main-page">

		<h3 class="text-center "> Gestion des devis </h3> <br>

		<div>
	      {# On affiche tous les messages flash dont le nom est « info » #}
	      {% for message in app.session.flashbag.get('success') %}
	        <p class="alert alert-success"> {{ message }}</p>
	      {% endfor %}
	    </div>

		{% if list_devis|length %} 
			<table class="table bg-white">
				<thead> 
					<tr> 
						<th scope="col"> Nom </th>
						<th scope="col"> Prénom </th>
						<th scope="col"> Email </th>
						<th scope="col"> Numero du devis </th>
						<th scope="col"> Date de réalisation </th>
						<th scope="col"> Devis </th>
						<th scope="col" class="text-center"> Statut </th>
						<th scope="col"> </th>
					</tr>
				</thead>	
				<tbody>
					{% for devis in list_devis %}
						<tr>
							<td> {{devis.contact.name}} </td>
							<td> {{devis.contact.surname}} </td>
							<td> {{devis.contact.email}} </td>
							<td>{{devis.numero}} </td>
							<td> {{devis.date|date('d-m-Y')}} </td>
							<td> <a href="{{ path('gmf_admin_view_devis', {id: devis.id}) }}"> <i class="far fa-eye"></i> </a></td>
							<td class="text-center"> 
								{% if devis.enabled == true %} 
									<span class="alert alert-success"> Activé </span> 
								{% elseif devis.enabled == false %} 
									<span class="alert alert-danger">  Désactivé </span> 
								{% endif %} 
							</td>
							<td>
								{% if devis.enabled == true %}
									<!-- Désactivation du devis -->
									<a href="{{path('gmf_admin_devis_statut', {etat: '0', id: devis.id})}}" onclick="return(confirm('Etes-vous sûr de vouloir desactivé ce devis?'));"> 
										<i class="far fa-times-circle text-danger" style="font-size: 25px"></i>
									</a>
								{% elseif devis.enabled == false %}
									<!-- Activation du devis -->
									<a href="{{path('gmf_admin_devis_statut', {etat: '1', id: devis.id})}}" onclick="return(confirm('Etes-vous sûr de vouloir activé ce devis?'));">
										<i class="far fa-check-circle text-success" style="font-size: 25px"></i>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3 class="text-center bg-white"> Vous n'avez aucun devis </h3>
		{% endif %}

	</div>

{% endblock %}

