{% extends 'GMFAdminBundle::layout.html.twig' %}

{% block gmf_admin_body %}
	<div class="col-12" id="main-page">

		<h3 class="text-center "> Gestion des Utilisateurs </h3> <br>

		<h4 class="text-right"> <a href="{{ path('fos_user_registration_register') }}"> <i class="fas fa-plus-circle"></i> Ajouter un éditeur </a></h4>

		<div>
	      {# On affiche tous les messages flash dont le nom est « info » #}
	      {% for message in app.session.flashbag.get('success') %}
	        <p class="alert alert-success"> {{ message }}</p>
	      {% endfor %}
	    </div>

		{% if list_users|length %} 
			<table class="table bg-white">
				<thead> 
					<tr> 
						<th scope="col"> Utilisateur </th>
						<th scope="col"> Rôle </th>
						<th scope="col"> Adresse e-mail </th>
						<th scope="col"> </th>
						<th scope="col"> </th>
					</tr>
				</thead>	
				<tbody>
					{% for user in list_users %}
						<tr>
							<td> {{ user.username }} </td>
							<td> {% for role in user.roles %} 
									<p> {{ role }} </p>
								{% endfor %} 
							</td>
							<td> {{ user.email }} </td>
							<td> <a href="{{ path('gmf_admin_user_edit', {'username': user.username})}}"> <i class="fas fa-pencil-alt"></i> </a> </td>
							<td> <a href="{{ path('gmf_admin_user_delete', {'username': user.username})}}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet utilisateurs ?'));"> <i class="fas fa-trash-alt"></i> </a> </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3 class="text-center bg-white"> Aucun utilisateurs </h3>
		{% endif %}

	</div>

{% endblock %}

