{% extends 'GMFAdminBundle::layout.html.twig' %}
{# Devis #}

{% block title %} Devis {{devis.numero}} - GIVE ME FIVE {% endblock %}

{% block stylesheets %}
	{{parent()}}
	<STYLE type="text/css">
	   .container {
		    width: 720px;
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
	 </STYLE>
{% endblock %}



{% block gmf_admin_body%}

	<div class="container bg-white"><br>

		<a href="{{ path('gmf_admin_home')}}" class="btn btn-primary float-right"> <i class="fas fa-arrow-circle-left"></i> Retour à la liste des devis </a>
		
		
		<div class="row">
			<div class="col">
				<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/logo-devis.png') }}" alt="logo de l'agence Give Me Five" />
			</div>
			<div class="col">
				<h3 class="col" style="text-align: right; color: #2b30ae"> DEVIS {{ devis.numero}} </h3>
			</div>
		</div> <br>
	
		<h3 style="color: #2b30ae;"> Date: <span style="color: black"> {{devis.date|date('d/m/Y')}}</span></h3> <br>
		

			<div class="col-5 float-left">
				<h3 style="color: #2b30ae; "> Emetteur </h3>
				<div style="color: #01c597; font-weight: bold;">
					<p> Votre contact : Gerome PELLERIN </p>
					<p> Adresse : <br> 3 rue centre de marseille <br>
					13001, Marseille </p> 
					<p> Pays :  France</p>
					<p> Email : accueil@givemefive.artdevelopp.fr  </p>
				</div>
			</div>
				
			<div class="col-5 float-right">
				<h3 style="color: #2b30ae"> Destinataire </h3>
				<div style="color: #01c597; font-weight: bold;">
					<p> Contact : {% if contact.company != null %} 
								{{contact.company }} 
								{% else %}
								{{ contact.name }} {{contact.surname|upper}}
								{% endif %} </p>
					<p> Adresse : <br>
						{{ contact.adress}} <br>
						{{contact.zipCode}}, {{ contact.city}}</p> 
					<p> Email : {{contact.email}}</p>
				</div>
			</div>


			<h5 style="color: #2b30ae; margin-top: 40%"> Objet : Estimation des modules pour l'application MyFive  </h5> <br>
			<h5 style="color: #2b30ae"> Détails </h5>


		{% set nModules = 0 %}
		{% set total = 0 %}
		<table class="table table-striped">
			<thead>
				<tr class="table-active">
					<th scope="col" > Type </th>
					<th scope="col"> Description </th>
					<th scope="col" class="border-blue"> Prix unitaire HT </th>
				</tr>
			</thead>
			<tbody>
				{% for module in modules %}
					<tr>
						<td class="blue"> {{module.type}} </td>
						<td> Module {{module.name}} : {{module.description }} </td>
						<td class="border-blue"> {{module.price }}</td>
					</tr>
					{% set nModules = nModules + 1 %}
					{% set total = total + module.price %}
				{% endfor %}
			</tbody>
		</table>

		{% if nModules == 3 %}
			<p style="text-align: right;"> Offres 3 Modules : - 10.00€ </p>
			{% set total = total - 10.00 %}
		{% elseif nModules == 4 %}
			<p style="text-align: right;"> Offres 4 Modules : - 20.00€ </p>
			{%set total = total - 20.00 %}	
		{% endif %}
		
		<p style="text-align: right">  TVA non applicable, art 293 Bdu CGI </p>
		<h5 style="text-align: right; color: #2b30ae"> Prix Total : {{ total}} € </h5> <br>
	</div>

{% endblock %}