{# Devis #}

<!DOCTYPE html>
<html>
<head>
	<title>Devis {{devis.numero}} - GIVE ME FIVE</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<STYLE type="text/css">
		@page { margin: 100px 25px; }
		footer { position: fixed; bottom: -60px; left: 0px; right: 0px; height: 50px; }
		thead, th {border-bottom: 2px solid #dee2e6;
					color: #2b30ae;}
		.border-blue {border-left: 2px solid #2b30ae;
						color: #2b30ae;}

		.blue {color: #2b30ae;}

		
	 </STYLE>
</head>
<body>
	<footer> <p style="font-size: 13px;"> Agence GIVE ME FIVE -- 3 rue centre de marseille, Marseille (13001) - France - Siret: 52423904300915 - Email : accueil@givemefive.artdevelopp.fr</p> </footer>
	
	<div class="container">

		<div class="row">
			<div class="col">
				<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/logo-devis.png') }}" alt="logo de l'agence Give Me Five" />
			</div>
			<div class="col">
				<h3 class="col" style="text-align: right; color: #2b30ae"> DEVIS {{ devis.numero}} </h3>
			</div>
		</div> <br>
	
		<h3 style="color: #2b30ae;"> Date: <span style="color: black"> {{devis.date|date('d/m/Y')}}</span></h3> <br>
		

			<div class="col-5 float-left">
				<h3 style="color: #2b30ae; "> Emetteur </h3>
				<div style="color: #01c597; font-weight: bold;">
					<p> Votre contact : Gerome PELLERIN </p>
					<p> Adresse : <br> 3 rue centre de marseille <br>
					13001, Marseille </p> 
					<p> Pays :  France</p>
					<p> Email : accueil@givemefive.artdevelopp.fr  </p>
				</div>
			</div>
				
			<div class="col-5 float-right">
				<h3 style="color: #2b30ae"> Destinataire </h3>
				<div style="color: #01c597; font-weight: bold;">
					<p> Contact : {% if contact.company != null %} 
								{{contact.company }} 
								{% else %}
								{{ contact.name }} {{contact.surname|upper}}
								{% endif %} </p>
					<p> Adresse : <br>
						{{ contact.adress}} <br>
						{{contact.zipCode}}, {{ contact.city}}</p> 
					<p> Email : {{contact.email}}</p>
				</div>
			</div>


			<h5 style="color: #2b30ae; margin-top: 40%"> Objet : Estimation des modules pour l'application MyFive  </h5> <br>
			<h5 style="color: #2b30ae"> Détails </h5>


		{% set nModules = 0 %}
		{% set total = 0 %}
		<table class="table table-striped">
			<thead>
				<tr class="table-active">
					<th scope="col" > Type </th>
					<th scope="col"> Description </th>
					<th scope="col" class="border-blue"> Prix unitaire HT </th>
				</tr>
			</thead>
			<tbody>
				{% for module in modules %}
					<tr>
						<td class="blue"> {{module.type}} </td>
						<td> {{module.description }} </td>
						<td class="border-blue"> {{module.price }}</td>
					</tr>
					{% set nModules = nModules + 1 %}
					{% set total = total + module.price %}
				{% endfor %}
			</tbody>
		</table>

		{% if nModules == 3 %}
			<p style="text-align: right;"> Offres 3 Modules : - 10.00€ </p>
			{% set total = total - 10.00 %}
		{% elseif nModules == 4 %}
			<p style="text-align: right;"> Offres 4 Modules : - 20.00€ </p>
			{%set total = total - 20.00 %}	
		{% endif %}
		
		<p style="text-align: right">  TVA non applicable, art 293 Bdu CGI </p>
		<h5 style="text-align: right; color: #2b30ae"> Prix Total : {{ total}} € </h5> <br>
		
		<div class="row">
			<div class="col">
				<p> <b> Conditions </b></p>
				<p> <b> Conditions de réglement : </b> 45 jour fin de mois </p>
				<p> <b> Mode de réglement : </b> Chéque </p>
				<p> <b> Intérêt de retard : </b> Taux d'intérêt légal en vigeur </p>
			</div>
			<div class="col ">
				<img class="float-right" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/bon-accord.png') }}" alt="logo de l'agence Give Me Five" />
			</div>
		</div>
	</div>

</body>
</html>