{# src\GMF\DevisBundle\Resources\views\Devis\index.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gmfdevis/css/index.css') }}" type="text/css" />
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">	

		<div class="row">
			<h4 class="text-center"> Découvrez tous les avantages de  « My Five », une application développée sur-mesure  pour vous et votre clientèle ! </h4>

			<img src="{{ asset('bundles/gmfdevis/images/video.png') }}" class="img-fluid rounded mx-auto d-block" alt="emplacement vidéo" />
		</div>


		<div class="row">
			<div class="col-12 col-sm-5">
				<img src="{{ asset('bundles/gmfdevis/images/image.png') }}" class="img-fluid rounded float-left" alt="image de remplacement"/> 
			</div>
			<div class="col-12 col-sm-5 bg-white">
				<p> Cette application a été développée pour vous aider dans votre travail quotidien (et même la nuit !). Libérez-vous du téléphone, « My Five » s’occupe pour vous de l’ensemble de vos réservations. Vous êtes à la recherche d’un(e) vendeur(se), bonne nouvelle nous l’avons trouvé pour vous ! Notre application vous donne la possibilité de vendre vos produits directement en ligne à tout moment. De plus, vous pourrez récompenser vos meilleurs clients grâce à un programme de fidélité que vous pourrez personnaliser à votre image. Votre clientèle pourra alors bénéficier des avantages que vous leur avez réservé. Vous l’aurez compris « My Five » vous sera bientôt indispensable. </p>
			</div>
		</div>

		<h4 class="text-center">
			Choisissez parmi nos 4 modules selon vos besoins !
		</h4>

		<div class="row">
			<div class="col-12 col-sm-6 text-center"  >
				<div id="fidelite" class="size-card"><br>
					<div class="description-card">
						<h5> FIDELITE CLIENTS </h5>
						<p> Récompensez votre clientèle grâce un programme de fidélité adapté. Proposez des avantages uniques (réductions, cadeaux…) et créez ainsi une relation privilégiée avec vos clients ! </p>
					</div>
					<button type="button" class="btn" style="background-color: #2b30ae; color: #01c597"> En savoir plus </button> 
				</div>
			</div>

			<div class="col-12 col-sm-6 text-center">
				<div id="reservation" class="size-card"><br>
					<div class="description-card">
						<h5> RESERVATION </h5>
						<p> Ce module permet à vos clients de réserver instantanément les activités que votre entreprise propose. Gagnez du temps « My Five » s’occupe de tout ! </p>
					</div>
					<button type="button" class="btn" style="background-color: #2b30ae; color: #01c597"> En savoir plus </button>
				</div>
			</div>
		</div> <br>

		<div class="row">
			<div class="col-12 col-sm-6 text-center" >
				<div id="vente" class="size-card"> <br>
					<div class="description-card">
						<h5> VENTE DE PRODUITS </h5>
						<p> Grace à ce module, la vente de l’ensemble de vos produits est un jeu d’enfants ! Ajoutez une nouvelle source de revenus pour votre entreprise. <br>
						« My Five » n’est jamais fatiguée, elle travaille pour vous nuits et jours ! </p>
					</div>
					<button type="button" class="btn" style="background-color: #2b30ae; color: #01c597"> En savoir plus </button> 
				</div>
			</div>

			<div class="col-12 col-sm-6 text-center">
				<div id="carte" class="size-card"> <br>
					<div class="description-card">
						<h5> CARTE INTERACTIVE </h5>
						<p> Proposez à vos clients une carte détaillée et interactive de vos activités. Que vous soyez un parc d’attraction, une salle de sport ou un site d’activités sportives, « My Five » offrira à vos clients expérience immersive ! </p>
					</div>
					<button type="button" class="btn" style="background-color: #2b30ae; color: #01c597"> En savoir plus </button> 
				</div>
			</div>
		</div> <br>

		<div class="row">
			<a href="{{ path('gmf_devis_order') }} " class="btn mx-auto" style="background-color: #01c597 ; color: #2b30ae"> DEMANDER UN DEVIS </a>
		</div>	


	</div> <br>


{% endblock %}