{# src\GMF\DevisBundle\Resources\views\Devis\order.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Demander un devis - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gmfdevis/css/order.css') }}" type="text/css" />
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">
		<h3 class="text-center" id="title-page"> DEVIS </h3>

		<div id="content-form">

			<p class="text-center"> Rien que pour vous, un devis en ligne personnalisé est disponible ! Merci de
				remplir le formulaire ci-dessous avec vos coordonnés ainsi que le choix des
				modules auxquels vous souhaitez souscrire ! <br>
				Un devis vous sera alors communiqué instantanément. </p>

			<div >
				{{ form_start(form) }}

				{# Erreur du formulaire #}
				{{ form_errors(form) }}

				{% for label, messages in app.flashes %}
				    {% for message in messages %}
				        <div class="flash-{{ label }} alert alert-danger">
				            {{ message }}
				        </div>
				    {% endfor %}
				{% endfor %}

				<div class="row category">
					<div class="col">
				       <input type="radio" name="category" value="particulier" id="particulier" onClick="Category(this);" checked /> <label for="particulier">Particulier </label>
				     </div>
				     <div class="col">
				       <input type="radio" name="category" value="entreprise" id="entreprise" onClick="Category(this);"/> <label for="entreprise"> Entreprise </label>
				     </div>
				</div>

				<div class="company" style="display: none">
					{{ form_label(form.company, "Nom de votre entreprise") }}
					{{ form_errors(form.company)}}
					{{ form_widget(form.company)}}
				</div> <br>

				
				<div id="surname">
					{{ form_label(form.surname) }} 
					{{ form_errors(form.surname)}}
					{{ form_widget(form.surname)}}
				</div> <br>

				<div id="name">
					{{ form_label(form.name) }}
					{{ form_errors(form.name)}}
					{{ form_widget(form.name)}}
				</div> <br>				

				<div class="company" style="display: none">
					{{ form_label(form.siret, "Numéro SIRET") }}
					{{ form_errors(form.siret)}}
					{{ form_widget(form.siret)}}
				</div> <br>

				<div id="email">
					{{ form_label(form.email, "Adresse e-mail") }}
					{{ form_errors(form.email)}}
					{{ form_widget(form.email, {'attr':{'onBlur':'checkEmail()'}})}} <br>

					{{form_widget(form.email2, {'attr':{'onBlur': 'checkEmail()'}})}} <br>
					<p class="alert alert-danger" id="email-danger" style="display:none"> Les deux adresses email ne sont pas identiques </p>
					<p class="alert alert-success" id="email-success" style="display:none"> Les deux adresses email sont indentiques </p>
				</div> <br>

				<div id="phone">
					{{ form_label(form.phone, "Téléphone") }}
					{{ form_errors(form.phone)}}
					{{ form_widget(form.phone)}}


				</div> <br>

				<div id="adresse">
					{{ form_label(form.adress, "Adresse postale") }}
					{{ form_errors(form.adress)}}
					{{ form_widget(form.adress)}}
				</div> <br>

				<div class="row">
					<div class="col" id="code_postal">
						{{ form_label(form.zipCode, "Code postal") }}
						{{ form_errors(form.zipCode)}}
						{{ form_widget(form.zipCode)}}
					</div>
					<div class="col" id="ville">
						{{ form_label(form.city, "Ville") }}
						{{ form_errors(form.city)}}
						{{ form_widget(form.city)}}
					</div>
				</div> <br>

				<p> {{ form_label(form.modules)}} </p>
				<div id="modules">
					{{ form_widget(form.modules, {'attr':{'class':'row'}})}}
				</div> <br>

				<div id="submit" class="row">
					<span class="mx-auto"> {{ form_row(form.envoyer) }}</span>
				</div>

			      
				{{ form_rest(form) }}

			 	{# Fermeture de la balise <form> du formulaire HTML #}
			 	{{ form_end(form) }}
			</div>
		</div> <br>
	</div>

{% endblock %}


{% block javascript %}
	{{ parent() }}

	<script>
		function Category(BtnRadio)
		{
			 if(BtnRadio.value=="particulier")
			 {
			    $('.company').hide();
			 }
			 if(BtnRadio.value=="entreprise")
			 {
			   $('.company').show();
			   $("#gmf_devisbundle_contact_company").attr("required", "true");
			   $("#gmf_devisbundle_contact_siret").attr("required", "true");
			 }
		}

		function checkEmail()
		{
			var email1 = document.getElementById("gmf_devisbundle_contact_email").value;
			var email2 = document.getElementById("gmf_devisbundle_contact_email2").value;
			 
			if(email1 == email2)
			{
				$('#email-success').show();
				$("#email-danger").hide();
				document.getElementById('gmf_devisbundle_contact_envoyer').disabled = '';
			}
			else
			{
				$('#email-danger').show();
				$('#email-success').hide();

				document.getElementById('gmf_devisbundle_contact_envoyer').disabled = 'disabled';
			}
		}

		$('ul[class="list-unstyled"]').addClass('alert alert-danger');
		$('div.checkbox').addClass('col');
			
	</script>

{% endblock %}