{# src\GMF\DevisBundle\Resources\views\Devis\order.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Demander un devis - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/gmfdevis/css/order.css') }}" type="text/css" />
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">
		<h3 class="text-center" id="title-page"> DEVIS </h3>

		<div id="content-form">

			<p class="text-center"> Rien que pour vous, un devis en ligne personnalisé est disponible ! Merci de
				remplir le formulaire ci-dessous avec vos coordonnés ainsi que le choix des
				modules auxquels vous souhaitez souscrire ! <br>
				Un devis vous sera alors communiqué instantanément. </p>

			<div >
				{{ form_start(form) }}

				{# Erreur du formulaire #}
				{{ form_errors(form) }}

				{% for label, messages in app.flashes %}
				    {% for message in messages %}
				        <div class="flash-{{ label }} alert alert-danger">
				            {{ message }}
				        </div>
				    {% endfor %}
				{% endfor %}

				<div class="row category">
					<div class="col">
						<p> Vous êtes </p>
					</div>
					<div class="col">
				       <input type="radio" name="category" value="particulier" id="particulier" onClick="Category(this);" checked /> <label for="particulier">Particulier </label>
				     </div>
				     <div class="col">
				       <input type="radio" name="category" value="entreprise" id="entreprise" onClick="Category(this);"/> <label for="entreprise"> Entreprise </label>
				     </div>
				</div>

				<div class="company row" style="display: none">
					{{ form_errors(form.company)}}
					<div class="d-inline col-3"> {{ form_label(form.company, "Nom de votre entreprise") }}  </div>
					<div class="d-inline col-8"> {{ form_widget(form.company)}} </div>
				</div> <br>
				
				<div id="surnameAndName" class="row" >
					
					<div class="d-inline col-3"> Nom et Prénom</div>
					<div class="d-inline col-8"> 
						<div class="row">
							<div class="col">
								{{ form_widget(form.surname)}} 
								{{ form_errors(form.surname)}}
							</div>
							<div class="col">
								{{ form_widget(form.name)}} 
								{{ form_errors(form.name)}}
							</div>
						</div>
					</div>
				</div> <br>			

				<div class="company row" style="display: none">
					{{ form_errors(form.siret)}}
					<div class="d-inline col-3"> {{ form_label(form.siret, "Numéro SIRET") }}  </div>
					<div class="d-inline col-8"> {{ form_widget(form.siret)}} </div>	
				</div> <br>

				<div id="email" class="row">
					{{ form_errors(form.email)}}
					<div class="d-inline col-3"> {{ form_label(form.email, "Adresse e-mail") }}  </div>
					<div class="d-inline col-8"> {{ form_widget(form.email, {'attr':{'onBlur':'checkEmail()'}})}} </div>

					<div class="offset-3 col-8" style="margin-top: 15px"> {{form_widget(form.email2, {'attr':{'onBlur': 'checkEmail()'}})}}</div>
					<div class="offset-3 col-8"> 
						<p class="alert alert-danger" id="email-danger" style="display:none; margin-top: 15px"> Les deux adresses email ne sont pas identiques </p>
						<p class="alert alert-success" id="email-success" style="display:none; margin-top: 15px"> Les deux adresses email sont indentiques </p>
					</div>
				</div> <br>

				<div id="phone" class="row">
					{{ form_errors(form.phone)}}
					<div class="d-inline col-3"> {{ form_label(form.phone, "Téléphone") }}  </div>
					<div class="d-inline col-8"> {{ form_widget(form.phone)}} </div>
				</div> <br>

				<div id="adresse" class="row">
					<div class="d-inline col-3"> {{ form_label(form.adress, "Adresse postale") }}  </div>
					<div class="d-inline col-8"> {{ form_widget(form.adress)}} </div>
				</div> <br>

					
				<div class="row" id="code_postal">
					
					<div class="d-inline col-3"> Code postal et ville  </div>
					<div class="d-inline col-8">
						<div class="row">
							<div class="col">
							 	{{ form_widget(form.zipCode)}} 
							 	{{ form_errors(form.zipCode)}}
							 </div>
							 <div class="col">
							 	{{ form_widget(form.city)}}
							 	{{ form_errors(form.city)}}
							 </div>
						</div>	
					</div>
				</div> <br>

				<div class="row">
					<div class="d-inline col-3">
						<p> {{ form_label(form.modules)}} </p>
					</div>
					<div class="d-inline col-8">
						<div id="modules">
							{{ form_widget(form.modules, {'attr':{'class':'row'}})}}
						</div> <br>
					</div>
				</div>

				<div class="text-center offset-3 col-8" id="reduction">
					<p> Pour la réservation de <span class="red"> 3 modules</span>,vous avez <span class="red"> 10 euros/mois </span> de réduction </p> 
					<p> Pour la réservation de <span class="red"> 4 modules</span>,vous avez <span class="red"> 20 euros/mois </span> de réduction </p>
				</div>

				<div id="submit" class="row">
					<div class="offset-3 col-8">
						{{ form_row(form.envoyer, {'attr': {'class': 'col-12'}}) }}
					</div>
				</div>

			      
				{{ form_rest(form) }}

			 	{# Fermeture de la balise <form> du formulaire HTML #}
			 	{{ form_end(form) }}
			</div>
		</div> <br>
	</div>

{% endblock %}


{% block javascript %}
	{{ parent() }}

	<script>
		function Category(BtnRadio)
		{
			 if(BtnRadio.value=="particulier")
			 {
			    $('.company').hide();
			 }
			 if(BtnRadio.value=="entreprise")
			 {
			   $('.company').show();
			   $("#gmf_devisbundle_contact_company").attr("required", "true");
			   $("#gmf_devisbundle_contact_siret").attr("required", "true");
			 }
		}

		function checkEmail()
		{
			var email1 = document.getElementById("gmf_devisbundle_contact_email").value;
			var email2 = document.getElementById("gmf_devisbundle_contact_email2").value;
			 
			if(email1 == email2)
			{
				$('#email-success').show();
				$("#email-danger").hide();
				document.getElementById('gmf_devisbundle_contact_envoyer').disabled = '';
			}
			else
			{
				$('#email-danger').show();
				$('#email-success').hide();

				document.getElementById('gmf_devisbundle_contact_envoyer').disabled = 'disabled';
			}
		}

		$('ul[class="list-unstyled"]').addClass('alert alert-danger');
		$('div.checkbox').addClass('col');
			
	</script>

{% endblock %}