{# src\GMF\DevisBundle\Resources\views\Devis\order.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Demander un devis - {{ parent() }}
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">
		<h3 class="text-center"> Devis </h3>

		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque neque et tincidunt sodales. Praesent tempus ultrices pellentesque. In hac habitasse platea dictumst. Aenean sed orci vel enim blandit vestibulum. Nulla vel tortor ullamcorper, porttitor dui et, aliquet ligula. Nunc ut est a libero fermentum semper nec eget lorem. Nunc ac luctus ligula, in varius lorem. Nam fermentum congue tempor. Vivamus interdum justo rhoncus, interdum felis nec, elementum felis. Morbi hendrerit ante et sapien condimentum venenatis. </p>

		<div >
			{{ form_start(form) }}

			{# Erreur du formulaire #}
			{{ form_errors(form) }}

			<div class="row">
				<div class="col">
			       <input type="radio" name="category" value="particulier" id="particulier" onClick="Category(this);" checked /> <label for="particulier">Particulier </label>
			     </div>
			     <div class="col">
			       <input type="radio" name="category" value="entreprise" id="entreprise" onClick="Category(this);"/> <label for="entreprise"> Entreprise </label>
			     </div>
			</div>

			<div class="company" style="display: none">
				{{ form_label(form.company, "Nom de votre entreprise") }}
				{{ form_errors(form.company)}}
				{{ form_widget(form.company)}}
			</div> <br>

			<div class="row">
				<div class="col">
					  {{ form_row(form.surname) }}
				</div>

				<div class="col">
					{{ form_row(form.name) }}
				</div>
			</div>

			<div class="company" style="display: none">
				{{ form_label(form.siret, "Numéro SIRET") }}
				{{ form_errors(form.siret)}}
				{{ form_widget(form.siret)}}
			</div> <br>

			<div id="email">
				{{ form_label(form.email, "Adresse e-mail") }}
				{{ form_errors(form.email)}}
				{{ form_widget(form.email)}} <br>

				<input type="email" id="email2" class="form-control" placeholder="confirmez votre adresse email" onBlur="checkEmail()" /> <br>
				<p class="alert alert-danger" id="email-danger" style="display:none"> Les deux adresses email ne sont pas identiques </p>
				<p class="alert alert-success" id="email-success" style="display:none"> Les deux adresses email sont indentiques </p>
			</div> <br>

			<div id="phone">
				{{ form_label(form.phone, "Téléphone") }}
				{{ form_errors(form.phone)}}
				{{ form_widget(form.phone)}}


			</div> <br>

			<div id="adresse">
				{{ form_label(form.adress, "Adresse postale") }}
				{{ form_errors(form.adress)}}
				{{ form_widget(form.adress)}}
			</div> <br>

			<div class="row">
				<div class="col" id="code_postal">
					{{ form_label(form.zipCode, "Code postal") }}
					{{ form_errors(form.zipCode)}}
					{{ form_widget(form.zipCode)}}
				</div>
				<div class="col" id="ville">
					{{ form_label(form.city, "Ville") }}
					{{ form_errors(form.city)}}
					{{ form_widget(form.city)}}
				</div>
			</div> <br>

			<div class="row">
				<div class="col">
					<input type="checkbox" name"reservation" id="reservation"/> <label for="reservation">  Réservation </label>
				</div>

				<div class="col">
					<input type="checkbox" name"fidelite" id="fidelite"/> <label for="fidelite">  Fidélité clients </label>
				</div>

				<div class="col">
					<input type="checkbox" name"carte" id="carte"/> <label for="carte">  Carte interactive </label>
				</div>

				<div class"col">
					<input type="checkbox" name"vente" id="vente"/> <label for="vente">  Vente de produits </label>
				</div>

			</div>

			<div id="submit" class="row">
				<span class="mx-auto"> {{ form_row(form.envoyer) }}</span>
			</div>

		      
			{{ form_rest(form) }}

		 	{# Fermeture de la balise <form> du formulaire HTML #}
		 	{{ form_end(form) }}
		</div>
	</div>

{% endblock %}


{% block javascript %}
	{{ parent() }}

	<script>
		function Category(BtnRadio)
		{
			 if(BtnRadio.value=="particulier")
			 {
			    $('.company').hide();
			 }
			 if(BtnRadio.value=="entreprise")
			 {
			   $('.company').show();
			   $("#gmf_devisbundle_contact_company").attr("required", "true");
			   $("#gmf_devisbundle_contact_siret").attr("required", "true");
			 }
		}

		function checkEmail()
		{
			var email1 = document.getElementById("gmf_devisbundle_contact_email").value;
			var email2 = document.getElementById("email2").value;
			 
			if(email1 == email2)
			{
				$('#email-success').show();
				$("#email-danger").hide();
			}
			else
			{
				$('#email-danger').show();
				$('#email-success').hide();
			}
		}
			
	</script>

{% endblock %}